<canvas id="myCanvas" width="100" height="100" data-content="因为有你，所以有我！" data-placement='right'>很不幸，你的浏览器版本太低，赶快去升个级吧～～</canvas>
<div class="container-fluid" style="margin-top:50px;">
  <div class="row-fluid">        
    <ul class='thumbnails'>
      <%@rooms.each_with_index do |room,index|%>
        <li class='room_list'>
          <h5> 
            <%=link_to truncate(room.title,:length => 25, :omission => '... '),chat_room_path(room),target:'_blank'%>
            <a class='like unfav' title='Fav It'>❤</a>
           </h5>
        <p class='desc'><%=room.description%></p>
        <p class='stats'>
          <a class='left' title='Online Users Count' ><%=Room.online_user_number(room.id)%></a>
          <a class='right' title='Messages Count'>0</a>
        </p>
       </li>
      <%end%>
    </ul>
    <%= will_paginate @rooms %>
  </div>
</div>
<script type="text/javascript">
  $('body').css('background',"url(<%=asset_path 'bg2.jpg'%>) no-repeat fixed bottom");
  var c=document.getElementById("myCanvas");
  var ctx=c.getContext("2d");
  draw_happy_face(ctx);
  $('#myCanvas').mouseover(function() {
     $('#myCanvas').popover('show');
  });
   $('#myCanvas').mouseout(function() {
     $('#myCanvas').popover('hide');
  });
 
</script>

