<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <div class="messages">
      </div>
      <div id="input-area">
        <textarea  id="message" class="input-xlarge"></textarea>
        <button class="btn btn-success"  id="submit">Send</button>
        <span class="notice">
          <li>支持 <a href='http://wowubuntu.com/markdown/basic.html'> Markdown</a> 格式</li>
          <li>支持 <a href='http://www.emoji-cheat-sheet.com/'> Emoji</a> 表情</li>
          <li>支持<a href="#"> Ctrl+Enter</a> 快捷发送</li>
        </span>
        <div class='error-message'>
         <a class="close" data-dismiss="">&times;</a>
         <p class='alert alert-error '></p>
        </div>
      </div>
    </div>
    <div class="span2">
      <div class='well sidebar-nav fenxiang' >
          <h3 class='nav-header'>喜欢我就分享我吧</h3>
          <div class='fenxiang-button my_border'>
              <div class="jiathis_style_24x24">
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_renren"></a>
                <a class="jiathis_button_weixin"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
              </div>
              <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1353687894005453" charset="utf-8"></script>
          </div>  
      </div>
      <div class='well sidebar-nav'>
          <h3 class='nav-header'>主题</h3>
          <p class='subject my_border'>
              <%=@room.description%>
          </p>
      </div>
    </div>
  </div>
</div>

<script>
  var last_sent_time = null;
  function sent_message(){
    var message = $('#message').val();
    if (message.length<1){
        $('.error-message p').text('提示：消息内容不能为空，请输入内容');
        $('.error-message').show();
    }else if (last_sent_time!=null && (new Date())-last_sent_time<8000){
        $('.error-message p').text('提示：消息发送太快，请休息一下吧');
        $('.error-message').show();
    }else{
      $('.error-message').hide();
      $.post("/parse_message",{msg:message}).always(function(result){
        faye.publish('/room/<%=@room.id%>/messages/new', {
          username: '<%= session[:username] %>',
          msg: result.responseText,
          avater: '<%=current_user.gravatar_url%>'
         });
        last_sent_time = new Date();
        $('#message').val('');
      });
    }
    return false;
  }
  $('.messages').css('height',window.screen.height-300);
  $('.subject').css('max-height',window.screen.height-550);
  $('#submit').click(function(){
      sent_message();
  });
  $(this).keyup(function(e){
    if (e.keyCode == 13 && e.ctrlKey){sent_message()};
  });
  faye.subscribe("/room/<%=@room.id%>/messages/new",function(data){  
      var a_new_message = ('<li><div class="user-avatar"> <img src="'+data.avater+'"');
      a_new_message +='/></div><div class="info"><span class="username">';
      a_new_message +=data.username;
      a_new_message +=('</span><span >'+(parseInt($('.messages li').size())+1)+' 楼</span>');
      a_new_message +=('<span >'+ current_time()+'</span>');
      a_new_message +=('<div class="li_message">'+data.msg+'</div></div></li>');
      $('.messages').prepend(a_new_message);
  }); 

  $('.error-message .close').click(function(){
      $('.error-message').hide();
  })

</script>

