<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <p class='alert alert-success welcome-message'> 
        <img src="<%=session[:avater]%>" class="my_avater" data-content='hello <%= session[:username] %>'/>
        <span style="float:right;">Welcome to <font id="room_title"><%=@room.title%></font> room.</span> 
      </p>
      <div class="messages">
      </div>
      <div id="input-area">
        <textarea  id="message" class="input-xlarge"></textarea>
        <button class="btn btn-success"  id="submit">Send</button>
        <span class="notice">支持快捷键'ctrl'发送消息</span>
      </div>
    </div>
    <div class="span2">
      <div class='well sidebar-nav fenxiang' >
          <h3 class='nav-header'>喜欢我就分享我吧</h3>
          <div class='fenxiang-button my_border'>
              <div class="jiathis_style_24x24">
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_renren"></a>
                <a class="jiathis_button_weixin"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
              </div>
              <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1353687894005453" charset="utf-8"></script>
          </div>  
      </div>
      <div class='well sidebar-nav'>
          <h3 class='nav-header'>主题</h3>
          <p class='subject my_border'>
              <%=@room.description%>
          </p>
      </div>
    </div>
  </div>
</div>

<script>
  function sent_message(){
    var message = $('#message').val();
    if (message.length<1){
      alert("发送信息不能为空");
    }else{
      faye.publish('/room/<%=@room.id%>/messages/new', {
          username: '<%= session[:username] %>',
          msg: $('#message').val(),
          avater: '<%=session[:avater]%>'
      });
      $('#message').val('');
    }
    return false;
  }
  $('body').css('background',"url(<%=asset_path 'bg2.jpg'%>) no-repeat fixed bottom");
  $('.messages').css('height',window.screen.height-285);
  $('.subject').css('max-height',window.screen.height-550);
  $('.my_avater').mouseover(function() {
     $('.my_avater').popover('show');
  });
  $('.my_avater').mouseout(function() {
     $('.my_avater').popover('hide');
  });
  $('#submit').click(function(){
      sent_message();
  });
  $(this).keyup(function(e){
    if (e.which ==17){sent_message()};
  });
  faye.subscribe("/room/<%=@room.id%>/messages/new",function(data){  
      var a_new_message = ('<li><div class="user-avatar"> <img src="'+data.avater+'"');
      a_new_message +='/></div><div class="info"><span class="username">';
      a_new_message +=data.username;
      a_new_message +=('</span><span >'+(parseInt($('.messages li').size())+1)+' 楼</span>');
      a_new_message +=('<span >'+ current_time()+'</span>');
      a_new_message +=('<p class="li_message">'+data.msg+'</p></div></li>');
      $('.messages').prepend(a_new_message);
  });  

</script>

