<!DOCTYPE html>
<html>
<head>
  <title>MyChatter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" ,"#{FAYE_SERVER}.js" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript">
	  var faye = new Faye.Client('<%=FAYE_SERVER%>');
	</script>
</head>
<body>
<%=render 'rooms/topbar'%>
<%= yield %>
<script type="text/javascript">
 $('body').css('background',"url(<%=asset_path 'bg2.jpg'%>) no-repeat fixed bottom");
</script>
</body>
</html>
